@charset "ISO-8859-1";
body { background-color: #282d31
}

img{
    height:200px;
    width: 240px;
}
h1{
	color:white;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

div.scrollmenu {
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
}

div.scrollmenu a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

div.scrollmenu a:hover {
  background-color: #d95e28;
}
* {box-sizing: border-box}

.container {
  padding: 16px;
  position: absolute;
  z-index: 15;
  top: 250px;
  left: 800px;
  margin: -100px 0 0 -150px;
  
}
.ignore-css{
	all:unset;	
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 500px;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  width: 500px;
  margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.registerbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100px;
  opacity: 0.9;
}

.registerbtn2 {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 170px;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity:1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}

.tableRepor {
	border-collapse: collapse;
    font-family: Times, "Times New Roman", Georgia, serif;
    width: 700px;
	margin-left: auto;
    margin-right: auto;
}
.tableRepor td {
	padding: 15px;
}
.tableRepor thead td {
	background-color: #54585d;
	color: #c0c0c0;
	font-weight: bold;
	font-size: 12px;
	border: 1px solid #54585d;
}
.tableRepor tbody td {
	color: #636363;
	border: 1px solid #dddfe1;
}
.tableRepor tbody tr {
	background-color: #f9fafb;
}
.tableRepor tbody tr:nth-child(odd) {
	background-color: #ffffff;
}

.tableRepor1 {
	background-color: #c0c0c0;
	border-collapse: collapse;
    font-family: Times, "Times New Roman", Georgia, serif;
    width: 400px;
	margin-left: auto;
    margin-right: auto;
}
.tableRepor1 td {
	padding: 15px;
}
.tableRepor1 thead td {
	background-color: rgb(64, 128, 128);
	color: #808080;
	font-weight: bold;
	font-size: 12px;
	border: 1px solid #54585d;
}
.tableRepor1 tbody td {
	color: #636363;
	border: 1px solid #c0c0c0;
}
.tableRepor1 tbody tr {
	background-color: #00ffff;
}
.tableRepor1 tbody tr:nth-child(odd) {
	background-color: #ffffff;
}

/*TablaPrincipal{
	width: 150px;
	margin-left: auto;
    margin-right: auto;
}*/
